html {
overflow: hidden;
height: 100%;
background: #cacaca;
font-family: arial, sans-serif;
font-size: 1em;
}

body {
overflow: auto;
height: 100%;
margin: 0 auto;
background: #eee;
}

p {
  color: blanchedalmond;
}

h1 {
  color: blanchedalmond;
}

a.eMail {
  color:aquamarine ;
}

@media all and (max-width:360px)
{
  .topHeader {
    background: #37508B;
    padding: 5px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    }
    
    .logo {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    
    .bizName {      
      grid-column: 1 / span 1;
      grid-row: 2 / span 2      
    }

    h1 {
      font-size: 2rem;
      word-wrap: break-word;
    }
}

@media (min-width: 361px) and (max-width: 900px) {
body {
  min-width: 361px;
  max-width: 768px;
}
.topHeader {
background: #37508B;
padding: 5px;
display: grid;
grid-template-columns: 117px 1fr;
grid-template-rows: max-content;
}

.logo {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.bizName {
  padding-left: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2
}
}

@media (min-width: 901px) {
  body {
    min-width: 900px;
    max-width: 1024px;
  }
  .topHeader {
    background: #37508B;
    padding: 5px;
    display: grid;
    grid-template-columns: 117px 1fr;
    grid-template-rows: max-content;
    }
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #9d9d9d;
    background-color: transparent;
}

/* .grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */