html {
overflow: hidden;
height: 100%;
background: #cacaca;
font-family: arial, sans-serif;
font-size: 1em;
min-width:425px;
}

body {
    overflow: auto;
    height: 100%;
    margin: 0 auto;
    background: #8B7237;
    min-width: 325px;
}

.topHeader {
    background: #37508B;
    padding: 5px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 110px 110px;
    height: 220px;
}

.logo {
    grid-area: 1 / 1 / 2 / 1;
}


p {
  color: blanchedalmond;
}

h1 {
  color: blanchedalmond;
}

nav {
    background: #59CF68;
}

a.eMail {
  color:aquamarine ;
}

.specials {
    background: #8B7237;
}

.specHeader {
    color: blanchedalmond;
}

    @media all and (max-width:425px) {

        h1.bizName {
            font-size: 20px;
            word-wrap: break-word;
        }

        .bizName {
            align-self: center;
            grid-area: 1 / 2 / 1 / 2;
            align-self: center;
        }

        .address {
            grid-area: 2 / 2 / 2 / 2;
            font-size: 15px;
        }

        .specials {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: max-content;
        }

        img.spec1 {
            max-width: 100%;
            content:url("../images/2015_Cannondale_Trigger_Team_XC_425_319.jpg");
            object-fit: contain;
        }

        img.spec2 {
            max-width: 100%;
            content: url("../images/SpecializedBigHit2_425_319.jpg");
            object-fit: contain;
        }

        img.spec3 {
            max-width: 100%;
            content: url("../images/Giant_TCX_Cyclocross_425_319.jpg");
            object-fit: contain;
        }
  
    }

    @media (min-width: 426px) and (max-width: 900px) {
        body {
            min-width: 426px;
        }

        h1.bizName {
            align-self: center;
            font-size: 24px;
            word-wrap: break-word;
        }

        .bizName {
            align-self: center;
            grid-area: 1 / 2 / 1 / 2;
        }

        .address {
            grid-area: 2 / 2 / 2 / 2;
            font-size: 18px;
            align-self: center;
        }

        .specials {
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: 1fr 1fr 1fr;
        }

        img.spec1 {
            max-width: 100%;
            content: url("../images/2015_Cannondale_Trigger_Team_XC_300_225.jpg");
            object-fit: contain;
            grid-area: 2 / 1 / 2 / 1; 
        }

        img.spec2 {
            max-width: 100%;
            content: url("../images/SpecializedBigHit2_300_225.jpg");
            object-fit: contain;
            grid-area: 2 / 2 / 2 / 2;
        }

        img.spec3 {
            max-width: 100%;
            content: url("../images/Giant_TCX_Cyclocross_300_225.jpg");
            object-fit: contain;
            grid-area: 2 / 3 / 2 / 3;
        }
    }

    @media (min-width: 901px) {
        body {
            min-width: 900px;
            max-width: 1024px;
        }

        h1.bizName {
            align-self: center;
            font-size: 30px;
            word-wrap: break-word;
        }

        .bizName {
            align-self: center;
            grid-area: 1 / 2 / 1 / 2;
        }

        .address {
            grid-area: 2 / 2 / 2 / 2;
            font-size: 18px;
            align-self: center;
        }

        .specials {
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: 1fr 1fr 1fr;
        }

        img.spec1 {
            max-width: 100%;
            content: url("../images/2015_Cannondale_Trigger_Team_XC_341_256.jpg");
            object-fit: contain;
            grid-area: 2 / 1 / 2 / 1;
        }

        img.spec2 {
            max-width: 100%;
            content: url("../images/SpecializedBigHit2_341_256.jpg");
            object-fit: contain;
            grid-area: 2 / 2 / 2 / 2;
        }

        img.spec3 {
            max-width: 100%;
            content: url("../images/Giant_TCX_Cyclocross_341_256.jpg");
            object-fit: contain;
            grid-area: 2 / 3 / 2 / 3;
        }
    }